In [13]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency
import math
from scipy.stats import chi

In [2]:
br = pd.read_csv("BuyerRatio.csv")
br

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
fd = br.drop(['Observed Values'],axis=1)

In [4]:
fd

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [5]:
males = fd.iloc[0]
feamales = fd.iloc[1]

In [6]:
males

East      50
West     142
North    131
South     70
Name: 0, dtype: int64

In [7]:
feamales

East      435
West     1523
North    1356
South     750
Name: 1, dtype: int64

In [8]:
males = np.array(males)
females = np.array(feamales)

In [11]:
O_V = np.array([males,feamales])
O_V

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [14]:
V = chi2_contingency(O_V)
V

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [15]:
P_V = chi2_contingency(O_V)[1]
P_V

0.6603094907091882

In [16]:
if P_V<0.05:
    print("H0 is rejected and there is no Male and female buyers are similar across in region")
else:
    print("H0 is accepted and Male and female buyers are similar across in region")

H0 is accepted and Male and female buyers are similar across in region